<!DOCTYPE html>
<html>
<head>
    <title>Movie Review Form</title>
</head>
<body>
    <h1>Изменение рецензии</h1>
    <h1 class="movie-title">Название фильма: {{movie_title}}</h1>
    <h2 class="release-year">Год выпуска фильма: {{movie_authors}}</h2>
    <h2 class="movie-info">Информация о фильме: {{brief_information}}</h2>
    <form method="post">
        {% csrf_token %}
        <label for="review">Рецензия:</label><br>
        <textarea id="review" name="editing_review" rows="10" cols="50"></textarea><br>
        <input type="submit" value="Изменить рецензию">
    </form>
</body>
</html>
