<!DOCTYPE html>
<html>
<head>
    <style>
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .header h1 {
            margin: 0;
        }
        .header button {
            margin-left: 20px;
            padding: 10px 20px;
            font-size: 16px;
        }
        .chat__item__container {
            font-size: 20px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="header">
        <h1>Чат с модератором</h1>
        {% if request.user.is_staff %}
        <form method="post" action="http://127.0.0.1:8000/admin_panel/closed_ticket_db" id="closeTicketButton">
            {% csrf_token %}
            <p>ID ticket<br> <input name="id_ticket"/></p>
            <button id="closeTicketButton" value="Send">Закрыть тикет</button>
        </form>
        {% endif %}
    </div>
    <br>
    <div class="chat__item__container" id="id_chat_item_container">
        <br />
        <input type="text" id="id_message_send_input" />
        <button type="submit" id="id_message_send_button">Send Message</button>
        <br>
        <br>
    </div>
    <script>
        const chatSocket = new WebSocket("ws://" + window.location.host + "/username={{username}}");
        chatSocket.onopen = function (e) {
            console.log("The connection was setup successfully !");
        };
        chatSocket.onclose = function (e) {
            console.log("Something unexpected happened !");
        };
        document.querySelector("#id_message_send_input").focus();
        document.querySelector("#id_message_send_input").onkeyup = function (e) {
            if (e.keyCode == 13) {
                document.querySelector("#id_message_send_button").click();
            }
        };
        document.querySelector("#id_message_send_button").onclick = function (e) {
            var messageInput = document.querySelector("#id_message_send_input").value;
            chatSocket.send(JSON.stringify({ message: messageInput, username: "{{request.user.username}}" }));
        };
        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            var div = document.createElement("div");
            console.log(data);
            div.innerHTML = data.username + " : " + data.message;
            document.querySelector("#id_message_send_input").value = "";
            document.querySelector("#id_chat_item_container").appendChild(div);
        };
    </script>
</body>
</html>
