{% extends "base.html" %}

{% block title %}Домашняя страница сайта{% endblock title %}
{% block header %}Домашняя страница сайта{% endblock header %}
{% block navigation %}
<nav>
    <a href="/select_films/">Выбрать фильм</a>
    <a href="/register/log_out">Выйти из системы</a>
</nav>
{% endblock navigation %}
{% block content %}
<div class="container">
    <h1>Сайт для поиска фильма по названию и просмотр рецензий.</h1>
    <p>Это простой HTML-документ с красивым дизайном.</p>
</div>
{% endblock content %}
