{% extends "base.html" %}

{% block title %}Регестрация {% endblock title %}
{% block header %}Регестрация{% endblock header %}
{% block navigation %}
<nav>
    <a href="/register/log_in">Войти в аккаунт</a>
    <a href="/register">Зарегистрироваться</a>
</nav>
{% endblock navigation %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <label for="username">Имя пользователя:</label>
    <input type="text" id="username" name="username" required><br>

    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password" required><br>

    <label for="confirm_password">Подтверждение пароля:</label>
    <input type="password" id="confirm_password" name="confirm_password" oninput="checkPasswordMatch()" required><br>

    <span id="password_match_message"></span><br>

    <input type="submit" value="Зарегистрироваться">
</form>

<script>
    function checkPasswordMatch() {
        const password = document.getElementById("password");
        const confirmPassword = document.getElementById("confirm_password");
        const messageSpan = document.getElementById("password_match_message");

        if (password.value === confirmPassword.value) {
            messageSpan.innerHTML = "Пароли совпадают!";
            messageSpan.classList.add("match");
            messageSpan.classList.remove("nomatch");
        } else {
            messageSpan.innerHTML = "Пароли не совпадают!";
            messageSpan.classList.add("nomatch");
            messageSpan.classList.remove("match");
        }
    }
</script>
{% endblock content %}
