<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for key, info in data.items %}
    <div class="review-container">
        <h1 class="user-name">Имя пользователя: {{info.0}}</h2>
        <p class="review-date">Дата рецензии: {{info.1}}</p>
        <h2 class="movie-title">Название фильма: {{info.3}}</h1>
        <p class="release-year">Год выпуска фильма: {{info.4}}</p>
        <h3 class="review-text">Рецензия: {{info.2}}</h3>
    </div>
    {% endfor %}
</body>
</html>